@font-face {
    font-family: Ray-Medium;
    src: url(./Ray-Medium.ttf);
}
@font-face {
    font-family: Ray-Light;
    src: url(./Ray-Light.ttf);
}
@font-face {
    font-family: Ray-ExtraBold;
    src: url(./Ray-ExtraBold.ttf);
}
@font-face {
    font-family: Ray-ExtraBlack;
    src: url(./Ray-ExtraBlack.ttf);
}
@font-face {
    font-family: Ray-Bold;
    src: url(./Ray-Bold.ttf);
}
@font-face {
    font-family: Ray-Black;
    src: url(./Ray-Black.ttf);
}




@font-face {
    font-family: ANJOMANFANUM-HEAVY;
    src: url(./ANJOMANFANUM-HEAVY.TTF);
}
@font-face {
    font-family: ANJOMANFANUM-MEDIUM;
    src: url(./ANJOMANFANUM-MEDIUM.TTF);
}
@font-face {
    font-family: ANJOMANFANUM-SEMIBOLD;
    src: url(./ANJOMANFANUM-SEMIBOLD.TTF);
}
@font-face {
    font-family: ANJOMANFANUM-THIN;
    src: url(./ANJOMANFANUM-THIN.TTF);
}
@font-face {
    font-family: ANJOMANFANUM-ULTRABOLD;
    src: url(./ANJOMANFANUM-ULTRABOLD.TTF);
}